@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    user-select: none;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: grid;
    place-items: center;
    font-family: 'Poppins';
}

/*! common classes */

.card {
    max-width: 45rem; 
    width: 90%;
    min-height: 50rem;
    padding: 4rem 5rem;
    background-color: #fffafa;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2.5rem;
}

.hidden {
    display: none;
}

.stats {
    font-weight: bold;
    color: #424242;
}

/*! search card */

.search-card {
    justify-content: space-between;
    animation: change-card linear .3s;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin-top: 1rem;
}

.search-input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 1rem 1.5rem 1rem 3rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    font-size: 2rem;
}

.search-input:focus,
input:hover {
    outline: none;
    border-color: rgba(11, 174, 129, .4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(11 174 129 / 10%);
}

.search-input::-webkit-search-cancel-button {
    cursor: pointer;
}

.group .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
}

.search-button {
    width: 100%;
    position: relative;
    align-self: flex-end;
    padding: 12px 18px;
    transition: all .2s ease;
    border: none;
    background: none;
    cursor: pointer;
}

.search-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #0BAE81;
    width: 45px;
    height: 45px;
    transition: all .3s ease;
}

.search-button span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .2rem;
    color: #424242;
    transition: .3s;
}

.search-button svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #424242;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
}

.search-button:hover span {
    color: #fff;
    letter-spacing: .3rem;
}

.search-button:hover:before {
    width: 100%;
    background: #0BAE81;
}

.search-button:hover svg {
    transform: translateX(0);
    stroke: #fff;
}

/*! skeleton loading */

.skeleton {
    position: relative;
}

.skeleton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: linear-gradient(90deg, #eee, #f9f9f9, #eee);
    background-size: 200%;
    animation: skeleton 1s infinite reverse;
}

@keyframes skeleton {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/*! forecast card */

.forecast-card {
    gap: 5px;
}

/*? header */
.forecast-card .header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.forecast-card .header .back-arrow {
    width: 3rem;
    cursor: pointer;
    position: absolute;
    left: 0;
}

.forecast-card .header .back-arrow img {
    width: 100%;
    transform: rotateZ(180deg);
}

/*? main stats  */
.forecast-card .main-stats {
    display: flex;
    width: 100%;
    height: auto;
    font-size: 2rem;
}

.forecast-card .main-stats .left-side,
.forecast-card .main-stats .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.forecast-card .main-stats .right-side {
    align-items: center;
}

.forecast-card .main-stats .left-side .temp {
    font-size: 4rem;
    margin-top: 3rem;
}

.forecast-card .main-stats .left-side .date .day-of-week {
    color: #838383;
}

.forecast-card .main-stats .right-side .weather-icon {
    width: 150px;
    align-self: center;
}

/*? extra stats */
.forecast-card .extra-stats {
    display: flex;
    margin-top: 25px;
    width: 100%;
    justify-content: space-between;
    font-size: 1.8rem;
}

.forecast-card .extra-stats img {
    width: 25px;
}

.forecast-card .extra-stats .wind,
.forecast-card .extra-stats .humidity,
.forecast-card .extra-stats .cloudiness {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 375px){
    .card {
        padding: 3rem;
    }
}