@import "./common/variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

p {
    font-size: $p-font-size;
    color: $softblue;
    font-weight: 300;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-background;
}

.background-card {
    background-color: #0d1a2e;
    padding: 20px 40px 70px 40px;
    border-radius: 40px;
}

.card {
    background-color: $card-background;
    width: 350px;
    height: auto;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 27px 0px 15px #0C1729;
    
    .image {
        background-color: $cyan;
        height: 300px;
        cursor: pointer;
        img {
           transition: 0.5s; 
        
            &:hover {
                opacity: 50%;
            }
        }
    }

    .description {
        h1 {
            color: $white;
            transition: 0.5s;

            &:hover {
                color: $cyan;
                cursor: pointer;
            }
        }
        p {
            margin-top: 20px;
        }
    }

    .info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        .ethereum {
            color: $cyan;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 5px;

        }
        .clock {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }

    .creator {
        width: 100%;
        border-top: 1px solid $line;
        padding: 15px 0px;

        .profile-pic {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                border: 1px solid $white;
                border-radius: 50%;
            }

            span {
                margin-left: -5px;
                color: $white;
                transition: 0.5s;

                &:hover {
                    color: $cyan;
                    cursor: pointer;
                }
            }
        }
    }
}