body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    color: #4caf50;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.feature {
    flex: 0 1 30%;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #4caf50;
}

p {
    font-size: 16px;
}

footer {
    text-align: center;
    margin-top: 30px;
    color: #888;
}