body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.modal {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 400px;
    color: white;
    text-align: center;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    animation: slide-up 0.3s ease-out;
}

#modal-content {
    flex: 1;
    margin-right: 10px;
}

#progress-bar {
    height: 5px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #4d65d1;
    border-radius: 5px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tab {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0.3s;
}

.tab.active {
    background-color: #4d65d1;
    color: white;
}

.tab:hover {
    background-color: #677ee4;
}

.content {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-top: 10px;
}

.form-group input {
    width: 100%;
    font-size: 16px;
}

.form-group button {
    margin-top: 10px;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #4d65d1;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #677ee4;
}