* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #212529;
    color: #f1f5f9;
    font-family: "Ubuntu", sans-serif;
    padding: 200px 200px;
}

.title {
    font-size: 23px;
    margin-bottom: 30px;
}

.title .underline {
    text-decoration: underline;
    color: #4dff91;
}

.result {
    display: flex;
}

#copyToClipboard {
    background-color: transparent;
    border: solid #666;
    border-width: 2px;
    border-radius: .5rem 0 0 .5rem;
    color: #f1f5f9;
    cursor: pointer;
    display: block;
    height: 4.26rem;
    width: 6rem;
    font-weight: 700;
}

input {
    background-color: #212529;
    border: 2px solid #666;
    border-radius: .5rem;
    color: #f1f5f9;
    display: block;
    font-size: 1.75rem;
    padding: 1rem;
}

#result {
    border-width: 2px 2px 2px 0;
    border-radius: 0 .5rem .5rem 0;
    max-width: 500px;
    width: 100%;
}

#generatePassword {
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px #000;
    transition: .2s;
    background-color: #4dff91;
    border: none;
    border-radius: .25rem;
    font-weight: 700;
    padding: 1rem 3rem;
    transition: .15s ease-in-out;
    font-size: 1rem;
}

#generatePassword:hover {
    background-color: #47d37d;
    cursor: pointer;
}

#generatePassword:active {
    background-color: #2a814b;
    transform: translate(2px, 2px);
    box-shadow: none;
}

.success {
    border-color: #4dff91 !important;
    color: #4dff91 !important;
}

@media (max-width: 800px){
    body {
        padding: 200px 30px;
    }
}