* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #212529;
    --border-color: #666;
    --font-color: #f1f5f9;
    --primary-color: #4dff91;
    --error-color: #ff0043;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Ubuntu", sans-serif;
    padding: 200px 200px;
}

.title {
    font-size: 23px;
    margin-bottom: 30px;
}

.title .underline {
    text-decoration: underline;
    color: var(--primary-color);
}

.result {
    display: flex;
}

#copyToClipboard {
    background-color: transparent;
    border: solid var(--border-color);
    border-width: 2px;
    border-radius: .5rem 0 0 .5rem;
    color: var(--font-color);
    cursor: pointer;
    display: block;
    height: 4.26rem;
    width: 6rem;
}

#result {
    border-width: 2px 2px 2px 0;
    border-radius: 0 .5rem .5rem 0;
    max-width: 500px;
    width: 100%;
}

button {
    background-color: var(--primary-color);
    border: none;
    border-radius: .25rem;
    font-weight: 700;
    padding: .5rem 1rem;
    transition: .15s;
}

input {
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
    border-radius: .5rem;
    color: var(--font-color);
    display: block;
    font-size: 1.75rem;
    padding: 1rem;
    text-align: end;
}

#generate-password {
    margin-top: 30px;
    box-shadow: 2px 2px 2px 2px black;
    transition: .2s;
}

#generate-password:hover {
    cursor: pointer;
}

#generate-password:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

@media (max-width: 800px){
    body {
        padding: 200px 30px;
    }
}