* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 100%;

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: fixed;
        right: 51%;
        left: 49%;

        a {
            color: white;
            text-decoration: none;
            font-size: 15px;
            margin: 7px;
        }
    }

    .section {
        width: 100%;
        height: 100vh;
    }

    #section-1 {
        background-image: url("../img/adrian-n-0rvjvne8HG0-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section-2 {
        background-image: url("../img/flavien-ESXhISyyHho-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section-3 {
        background-image: url("../img/brian-lundquist-pIgiLH1TXPk-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    #section-4 {
        background-image: url("../img/cody-reed-aNEoZH3qbfU-unsplash.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}