@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', system-ui, sans-serif;
  scrollbar-width: none;
}

*:focus {
  outline: none;
}

body {
  background-color: #F9F3F1;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

h3 {
  color: #000225;
}

section {
  width: 100%;
  height: auto;
  padding: 10px 20px;
}

#scroll-top-button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: #030958;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

#scroll-top-button:hover {
  background-color: #101780;
  transform: translateY(-3px);
}