* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

button {
    width: 100px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    padding: 7px;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s;
    border: transparent;
    cursor: pointer;

    &:hover {
        background-color: rgb(48, 48, 48);
    }
}

.navbar {
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-items {
        a {
            text-decoration: none;
            color: #000;
            font-size: 15px;
            margin-right: 40px;
        }
    }
}

.main-container {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap-reverse;

    .text-content {
        width: 100%;
        max-width: 300px;
        display: flex;
        flex-direction: column;
        gap: 30px;

        button {
            padding: 10px;
        }
    }
}

@media (max-width: 720px){
    .navbar {
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
}

@media (max-width: 605px){
    .nav-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-right: 20px;

        a {
            margin-right: 0 !important;
            width: 100%;
            padding: 3px;
            border: 1px solid black;
        }
        button {
            width: 100%;
        }
    }
}