@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Noto+Sans+KR&display=swap');

$user-font: 'Hanken Grotesk';
$content-font: 'Noto Sans KR';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    .profile {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
            transition: 0.3s;
            opacity: 100%;
            
            &:hover {
                opacity: 50%;
            }
        }
        h2 {
            cursor: pointer;
            color: #fff;
            font-family: $user-font;
            opacity: 100%;
            transition: 0.3s;

            &:hover {
                opacity: 70%;
            }
        }
    }
    .new-post {
        width: 50px;
        height: 50px;
        padding: 15px;
        border-radius: 50%;
        border: none;
        font-size: 20px;
        background-color: #0e402d;
        color: #fff;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            color: rgb(172, 172, 172);
            background-color: #07251a;
        }
    }
}

.posts {
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
    .post {
        width: 800px;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
            display: flex;
            justify-content: space-between;

            button {
                border: none;
                background-color: transparent;
                color: #000;
                font-size: 15px;
                font-weight: 700;
                margin-bottom: 15px;
                cursor: pointer;
            }
        
            .user {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 5px;
                margin-bottom: 15px;
                font-family: $user-font;
    
                img {
                    border-radius: 50%;
                }
            }
        }

        .content {
            margin-bottom: 15px;
            font-family: $content-font;
        }
        .date {
            color: rgb(141, 141, 141);
        }
    }
}

@media (max-width: 820px){
    .post {
        width: 100% !important;
    }
}