@media (min-width: 1024px) {
  .product-section {
    max-width: 80% !important;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .container__image {
    width: 50%;
    max-width: 400px;
  }

  .container__product {
    width: 50%;
  }

  .description p {
    padding-bottom: 0;
    max-height: 180px;
    overflow-y: scroll;
  }

  .container__add-cart {
    position: static !important;
    border-radius: 30px;
  }
}

@media (min-width: 1200px) {
  .container__add-cart {
    margin-top: 20px; 
  }
}

@media (max-width: 425px) {
  .container__add-cart {
    padding: 25px 10px;
  }

  .container__add-cart h2 {
    font-size: 20px;
  }

  .container__add-cart ,.add-cart__buttons {
    gap: 10px;
  }

  .container__add-cart .add-cart__buttons .product-quantity {
    min-width: 90px;
  }

  .container__add-cart .add-cart__buttons .addToCart-button {
    padding: 10px 15px;
  }
}