@import "../common/common.scss";

.section-1 {
    width: 100%;
    height: 100vh;
    background-image: url("../../img/falcon-9/01.jpg");
    background-size: cover;

    .content {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;

        .title {
            font-size: 90px;
            font-weight: 700;
        }
        .paragraph {
            font-size: 15px;
            font-weight: 600;
        }
    }
}

.numbers {
    background-color: #000;
    color: #fff;

    .title {
        font-size: 90px;
        font-weight: 600;
    }
    .paragraph {
        font-size: 20px;
        font-weight: 400;
    }
}

.section-2 {
    width: 100%;
    height: 100vh;
    background-image: url("../../img/falcon-9/02.jpg");
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .content {
        width: 50%;
        margin-left: 100px;
        .paragraph {
            font-size: 22px;
            color: #fff; 
            line-height: 50px;
        }
    }
}

.section-3 {
    width: 100%;
    height: 100vh;
    background-color: #000;

    .visao-geral {
        background-image: url("../../img/falcon-9/03.jpg");
        background-size: cover;
        height: 100vh;
        padding: 200px;

        .paragraph, .table-title {
            color: #fff;
        }
        .table {
            width: 500px;
            color: #fff;
        }
    }

    .primeiro-estagio {
        background-image: url("../../img/falcon-9/04.jpg");
        background-size: cover;
        height: 100vh;
        padding: 200px;
        color: #fff;

        .container {
            width: 500px;
            margin-left: -40px;
        }
    }

    .segundo-estagio {
        @extend .primeiro-estagio;
        background-image: url("../../img/falcon-9/05.jpg");
        .table {
            color: #fff;
        }
    }

    .interestadual {
        background-image: url("../../img/falcon-9/06.jpg");
        @extend .primeiro-estagio;
    }

    .carga-util {
        @extend .segundo-estagio;
        background-image: url("../../img/falcon-9/07.jpg");
    }
}

.section-4 {
    background-image: url("../../img/falcon-9/08.jpg");
    background-size: cover;
    height: 100vh;
    padding: 200px;
    color: #fff;

    .container {
        width: 500px;
        margin-left: -40px;

        .table {
            color: #fff;
        }
    }
}

.section-5 {
    .carousel {
        img {
            height: 100vh;
        }
    }
}

footer {
    .services {
        height: 85vh;
        width: 100%;
        background-color: #000;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .paragraph {
            font-size: 12px;
            color: #fff;
            a {
                text-decoration: none;
                color: #fff;
                font-weight: 600;
                &:hover{
                    color: $hover-links;
                }
            }
        }
    }
    .footer {
        background-color: #000;
        .paragraph {
            color: $copyright-footer;
            a {
                margin-left: 10px;
                i {
                    transition: 0.3s;
                    color: #fff;
                    &:hover {
                        color: $hover-links;
                    }
                }
            }
        }
        
    }
}