[contenteditable] {
    outline: none;
}

.note {
    width: 250px;
    min-height: 250px;
    border-radius: 20px;
    padding: 25px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    .paragraph {
        user-select: text;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .data {
            color: #585858;
        }

        .edit-btn {
            width: 30px;
            height: 30px;
            transform: scale(-1, 1);
            padding: 3px;
            font-size: 14px;
            border: none;
            background-color: #000;
            color: #fff;
            border-radius: 50%;
            cursor: pointer;
            transition: .2s;

            &:hover {
                background-color: #2b2b2b;
            }

            &:active {
                background-color: #4e4e4e;

            }
        }
    }
}

.orange {
    background-color: #F5E3B5;
}

.red {
    background-color: #FAC4BE;
}

.green {
    background-color: #c4edc2;
}

.purple {
    background-color: #CCB8E0;
}

.blue {
    background-color: #DFF1F7;
}