@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');
@import 'note-style.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    background-color: #E2E6EF;
    padding: 50px;
    font-family: 'Roboto';
}

.main-container {
    background-color: #FFFAFD;
    width: 100%;
    min-height: 85vh;
    border-radius: 20px;
    display: flex;

    .add-notes {
        width: 120px;
        border-radius: 20px 0 0 20px;
        display: flex;
        justify-content: center;

        #add-notes-btn {
            width: 45px;
            height: 45px;
            margin-top: 100px;
            border-radius: 50%;
            font-family: 'Roboto';
            font-size: 30px;
            font-weight: 100;
            border: none;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            transition: .1s;

            &:hover {
                background-color: #2b2b2b;
            }
            &:active {
                background-color: #444444;
                transform: scale(.93);
            }
        }
    }
    .notes-section {
        width: calc(100% - 120px);
        border-radius: 0 20px 20px 0;
        border-left: 1px solid #e6e6e6;

        #title {
            margin: 95px 50px;
            font-weight: 500;
            font-size: 50px;
        }

        .notes {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            padding: 0 50px 50px 50px;
        }
    }
}