@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap");
[contenteditable] {
  outline: none;
}

.note {
  width: 250px;
  min-height: 250px;
  border-radius: 20px;
  padding: 25px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.note .paragraph {
  user-select: text;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.note .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.note .footer .data {
  color: #585858;
}
.note .footer .edit-btn {
  width: 30px;
  height: 30px;
  transform: scale(-1, 1);
  padding: 3px;
  font-size: 14px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
.note .footer .edit-btn:hover {
  background-color: #2b2b2b;
}
.note .footer .edit-btn:active {
  background-color: #4e4e4e;
}

.orange {
  background-color: #FEC872;
}

.red {
  background-color: #FD9C71;
}

.green {
  background-color: #E4ED90;
}

.purple {
  background-color: #B490FA;
}

.blue {
  background-color: #01D4FF;
}

.modal-background {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  bottom: 100%;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  user-select: none;
  font-family: "Roboto";
  z-index: 98;
}

.modal {
  width: 70%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 15px;
  z-index: 99;
}

.close-button {
  align-self: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.close-button:hover {
  color: #ff0000;
}
.close-button:active {
  color: #ff7b7b;
  transform: scale(0.95);
}

textarea {
  outline: none;
  width: 100%;
  height: 100px;
  resize: none;
  font-size: 17px;
  padding: 5px;
  border: 1px solid #b9b9b9;
  border-radius: 5px;
}
textarea:focus {
  border: 1px solid #000;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .colors button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: transparent;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.buttons .colors button:hover {
  transform: scale(1.1);
}
.buttons .colors button:active {
  transform: scale(0.95);
}
.buttons #orange {
  background-color: #FEC872;
}
.buttons #red {
  background-color: #FD9C71;
}
.buttons #green {
  background-color: #E4ED90;
}
.buttons #purple {
  background-color: #B490FA;
}
.buttons #blue {
  background-color: #01D4FF;
}
.buttons .inputs button {
  padding: 7px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.buttons .cancel-button {
  background-color: transparent;
}
.buttons .cancel-button:hover {
  background-color: #ff0000;
  color: #fff;
}
.buttons .cancel-button:active {
  background-color: rgb(255, 91, 91);
  transform: scale(0.95);
}
.buttons .save-button {
  background-color: #000;
  color: #fff;
}
.buttons .save-button:hover {
  background-color: #3a3a3a;
}
.buttons .save-button:active {
  background-color: #747474;
  transform: scale(0.95);
}

@media (max-width: 768px) {
  .modal {
    width: 90%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background-color: #E2E6EF;
  padding: 50px;
  font-family: "Roboto";
}

.main-container {
  background-color: #FFFAFD;
  width: 100%;
  min-height: 89vh;
  border-radius: 20px;
  display: flex;
}
.main-container .add-notes {
  width: 120px;
  border-radius: 20px 0 0 20px;
  display: flex;
  justify-content: center;
}
.main-container .add-notes #add-notes-btn {
  width: 45px;
  height: 45px;
  margin-top: 100px;
  border-radius: 50%;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 100;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  transition: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .add-notes #add-notes-btn:hover {
  background-color: #2b2b2b;
}
.main-container .add-notes #add-notes-btn:active {
  background-color: #444444;
  transform: scale(0.93);
}
.main-container .notes-section {
  width: calc(100% - 120px);
  border-radius: 0 20px 20px 0;
  border-left: 1px solid #e6e6e6;
}
.main-container .notes-section #title {
  margin: 90px 0px 40px 50px;
  font-weight: 500;
  font-size: 60px;
}
.main-container .notes-section .notes {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0 50px 50px 50px;
}

@media (max-width: 600px) {
  body {
    padding: 0;
  }
  .main-container {
    min-height: 100vh;
  }
  .add-notes {
    width: 80px !important;
  }
  #add-notes-btn {
    margin-top: 50px !important;
  }
  #title {
    margin: 40px 0px 40px 30px !important;
  }
  .notes {
    padding: 0px 0px 30px 30px !important;
  }
}

/*# sourceMappingURL=style.css.map */
