.container__add-cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: radial-gradient(circle, #1b2585, #171f6d, #030958);
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 30px 20px;
  color: #fff;
}

.container__add-cart h2 {
  font-size: 23px;
}

.add-cart__buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-cart__buttons .product-quantity {
  min-width: 120px;
  min-height: 30px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-cart__buttons .product-quantity span {
  width: 33%;
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  text-align: center;
}

.add-cart__buttons .product-quantity button {
  width: 33%;
  color: rgba(255, 255, 255, 0.8);
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.add-cart__buttons .addToCart-button {
  color: #030958;
  background-color: #fff;
  padding: 15px 20px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
}