.product {
  width: auto;
  cursor: pointer;
  transition: all 200ms;
  user-select: none;
  position: relative;
}

.product:hover {
  transform: translateY(-10px);
}

.product:hover .addToCart {
  visibility: visible;
}

.product .addToCart {
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border: none;
  background-color: rgba(220, 220, 220, 0.5);
  backdrop-filter: blur(5px);
  color: #00098a;
  font-size: 15px;
  display: grid;
  visibility: hidden;
  place-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: background-color 200ms;
}

.product .addToCart:hover {
  background-color: rgba(220, 220, 220, 0.8);
}

.product .addToCart:active {
  transform: scale(0.9);
}

.product img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 2px #ddd;
}

.product h3,
.product p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.product p {
  margin: 5px 0 10px 0;
  color: rgba(0, 0, 0, .7);
}

.product h2 {
  background: radial-gradient(circle, #1b2585, #171f6d, #030958);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 20px;
}