@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
     
html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
    font-family: 'Arial';
    display: grid;
    place-items: center;
    padding: 2rem;
}

.title {
    font-family: 'Poiret One';
    font-size: 12rem;
    color: #EAD7D7;
    margin-bottom: 2rem;
}

.todo-container {
    max-width: 700px;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    .add-task-container {
        width: 100%;
        height: auto;
        background-color: red;
        border-bottom: 2px solid #F0F0F0;

        input {
            width: 100%;
            height: 70px;
            padding-left: 70px;
            font-size: 3rem;
            border: none;
            outline: none;

            &::placeholder {
                color: #ddd;
                font-style: italic;
            }
        }
    }

    .tasks-container {
        width: 100%;
        background-color: #fff;
        font-size: 3rem;
        
        .task {
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            border-bottom: 2px solid #F6F6F6;
            
            // checkbox style
            label {
                position: relative;
                min-width: 40px;
                height: 40px;
                cursor: pointer;
                
                .complete-task {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    opacity: 0;
        
                    &:checked ~ span::after {
                        width: 9px;
                        height: 20px;
                        opacity: 1;
                    }
        
                    &:checked ~ span {
                        border-color: #C6DFDB;
                    }
                }

                span {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    position: absolute;
                    border: 1px solid #F1F1F1;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 13px;
                        bottom: 10px;
                        width: 0px;
                        height: 0px;
                        border: solid #5DC2AF;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                        opacity: 0;
                        transition: .1s ease-in-out;
                    }
                }
            }

            .task-content {
                padding-left: 5px;
                color: #414141;
            }

            .remove-task {
                background-color: transparent;
                border: none;
                font-size: 3rem;
                font-weight: 700;
                color: #AF5B5E;
                padding-right: 15px;
                cursor: pointer;
                opacity: 0;
                transition: .2s;

                &:hover {
                    color: #f12128;
                }
            }

            &:hover > .remove-task {
                opacity: 1;
            }

        }
    }

    .menu-container {
        width: 100%;
        font-size: 1.8rem;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #777777;

        .items-left-container,
        .filter-options-container,
        .clear-completed-container {
            width: 33%;
        }

        .items-left-container {
            padding-left: 15px;
        }

        .filter-options-container {
            input[type="radio"] {
                display: none;
                border: none;
            }

            label.radio-button {
                display: inline-block;
                padding: 4px 7px;
                border-radius: 3px;
                cursor: pointer;
                border: 1px solid transparent;
                color: #777;
            }

            input[type="radio"]:checked+label.radio-button {
                border: 1px solid #ccc;
            }
        }

        .clear-completed-container {
            text-align: right;
            padding-right: 15px;

            button {
                color: #777777;
                font-size: inherit;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}