<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha Aplicação</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>

<body>
    <div id="modal" class="modal">
        <div id="modal-content"></div>
        <div id="progress-bar"></div>
    </div>
        
    <div class="container">
        <div class="tabs">
            <div class="tab" id="login-tab">Login</div>
            <div class="tab" id="cadastro-tab">Cadastro</div>
        </div>
        <div class="content" id="content">
            <!-- Formulários de login e cadastro serão injetados aqui -->
        </div>
    </div>

    <script src="../javascript/script.js"></script>
</body>

</html>